 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
 }
        /*Content */
body {
    margin-left: 5%;
    font-family: sans-serif;
    background-image: url(../images/Background.jpg);
}
        /* Game Title */
header {
    width: auto;
    background-color: orangered;
    margin-right: 70%;
    margin-left: 5%;
}
h1 {
    color: rgb(247, 235, 235);
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}
        /* Rules of Game */
section {
    width: 50%;
    padding: 15px 7px 65px 7px;
    margin-top: 5%;
    background-color: rgb(231, 227, 225);
}
.rulesofgame {
    color: rgb(16, 121, 16);
    font-size: 18px;
    font-weight: bold;
}

        /* Points to Reach */
.pointswincounters {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
}
.points {
    width: 27.35%;
    height: 120px;
    margin: 10px;
    background-color: rgb(21, 110, 21);
    font-weight: bold;
}
        /* Wins and Losses */
#winnerloser {
    width: 9.55%;
    height: 120px;
    margin: 10px;
    color: rgb(19, 5, 216);
    background-color: rgb(71, 143, 236);
    
}
        /* Crystal Images */
img {
    margin: 4px;
}
img:hover {
    border: 5px solid rgba(73, 12, 2, 0.692);
}
        /* Total Score */